<!DOCTYPE html>
<html>
<body>
<head>
Welcome
</head>
<body>
<br>
This is a very simple app to list your users.
<p>
<form action="/getUsers" method="POST">
<button type="submit">Show Users</button>
</p>
